@page "/persona"
@using Tarea7.Models
@using Tarea7.Data.Repositorio
@inject IRepositorioPersona Repositorio

<div class="row">
    <div class="col-6">
        <h1 class="text-primary">Cliente</h1>
    </div>
    <div class="col-6 text-right">
        <a href="#" class="btn btn-primary">Crear Persona</a>
    </div>
</div>

<div class="row mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lstPersona)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.nombre</td>
                    <td>@item.apellido</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code{
    private List<Persona> lstPersona = new List<Persona>();
    
    protected override async Task OnInitializedAsync()
    {
        lstPersona = await Repositorio.Get();
    }
}

        