@page "/"

<div class="row justify-content-center">
    <div class="col-8 alert alert-info text-center">
        <h1>Bienvenidos a Hello World</h1>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h1>Aquí ve el grafico!...</h1>
        </div>
    </div>
</div>
