@page "/validar"
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Tarea7.Models
@using Tarea7.Data.Repositorio
@inject IRepositorioVacuna RepositorioVacuna

<div class="row justify-content-center">
    <div class="col-8">
        <div class="alert alert-info text-center">
            <h1>Registrar Vacuna</h1>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-md-2">
    <div class="card col-10">
      <div class="card-header">
        <div class="navbar navbar-light bg-light p-0">
          <div class="container-fluid">
            <a class="navbar-brand">Verificar Persona</a>
            <div class="d-flex">
              <input class="form-control mr-1" type="search" placeholder="Digíte su Cédula..." aria-label="Search" style="width: 60%;" @bind-value="cedula">
              <button class="btn btn-outline-success btn-md" @onclick="Obtener"><i class="oi oi-magnifying-glass"></i> Buscar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <EditForm Model="persona">
            <DataAnnotationsValidator/>
            <div class="row justify-content-center">
                <div class="col-3">
                    <label>Nombre:</label>
                    <InputText @bind-Value="persona.nombre" class="form-control"/>
                    <ValidationMessage For="() => persona.nombre"/>
                </div>
                <div class="col-3">
                    <label>Apellidos:</label>
                    <InputText @bind-Value="persona.apellido" class="form-control"/>
                    <ValidationMessage For="() => persona.apellido"/>
                </div>
                <div class="col-3">
                    <label>Telefono:</label>
                    <InputText @bind-Value="persona.telefono" class="form-control"/>
                    <ValidationMessage For="() => persona.telefono"/>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <label>Fecha de Nacimiento:</label>
                    <InputDate @bind-Value="fecha" class="form-control"/>
                    <ValidationMessage For="() => persona.fecha_nacimiento"/>
                </div>
                <div class="col-3">
                    <label>Vacuna Recibida:</label>
                    <InputSelect @bind-Value="persona.id_vacuna" class="form-control">
                        <option value="">Seleccione Vacuna...</option>
                        @foreach (var item in lsVacuna)
                        {
                             <option value="@item.id">@item.marca</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => persona.id_vacuna"/>
                </div>
                <div class="col-3">
                    <label>Telefono:</label>
                    <InputText @bind-Value="persona.telefono" class="form-control"/>
                    <ValidationMessage For="() => persona.telefono"/>
                </div>
            </div>
        </EditForm>
      </div>
    </div>
</div>

@code{
    string cedula = "";
    DateTime fecha = DateTime.Now;
    DatosCedula datosCedula = null;
    Persona persona = new Persona(); 
    List<Vacuna> lsVacuna = new List<Vacuna>();
    private async Task Obtener(){
        var Url = "https://api.adamix.net/apec/cedula/" + cedula;
        datosCedula = await Http.GetFromJsonAsync<DatosCedula>(Url);

        if(datosCedula.ok){
            persona.nombre = datosCedula.Nombres;
            persona.apellido = datosCedula.Apellido1 + " " + datosCedula.Apellido2;
            fecha = Convert.ToDateTime(datosCedula.FechaNacimiento);
        }
    }

    protected override async Task OnInitializedAsync(){
        lsVacuna = await RepositorioVacuna.Get();
    }
}