<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sistema de Vacunas</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="validar">
                <span class="oi oi-plus" aria-hidden="true"></span> Registrar Vacuna
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="buscarvacuna">
                <span class="oi oi-ban" aria-hidden="true"></span> Anular Vacuna
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listavacuna">
                <span class="oi oi-list" aria-hidden="true"></span> Lista Vacuna
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="zodiaco">
                <span class="oi oi-list" aria-hidden="true"></span> Lista Vacuna Zodiaco
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Configuracion">
                <span class="oi oi-cog" aria-hidden="true"></span> Cofiguracion
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
